{%extends "layout.html"%}


{%block content%}
                <div class = "container">
                  <div class = "col-md-4 offset-md-4">
                        <h3>Sign Up Page</h3>
                        {%if error %}
                            <b style = "color: darkmagenta">{{error}}</b>
                        {%endif%}
                    <form px-4name="signUp" action="" method="POST">
                       <h3>Enter your information to register </h3> <br> <br>
                       
                       <b for="user_name">User name:</b><br>
                       <input type="text" id="user_name" name="user_name"><br><br>
               
                       <b for="height">Height:</b><br>
                       <input type="text" id="height" name="height" required="required"></br><br>
               
                       <b for="weight">Weight:</b><br>
                       <input type="text" id="weight" name="weight" required="required"></br><br>
               
                       <b for="password">Password:</b></br>
                       <input type="password" id="password" name="password" required="required" placeholder ="at least 4 characters"></br><br>
                      
                       <b for="password">Password(again):</b><br>
                       <input type="password" id="password" name="passwordag"  required="required"></br><br>

                       <button type="submit" class="btn btn-primary btn-lg ">
                         enroll
                       </button>
                     </form> 
                  </div>
                </div>
            </main>
        </div>
    </div>
    {%endblock%}
</body>

</html>